<!DOCTYPE html>
<html>
<% include ../partials/header.ejs %>

<body>

<% include ../partials/menu.ejs %>

<div class="container">
  <h1>Student Edited</h1>
  <p>The following student has been edited:</p>
  <p>Name: <%=fName %> <%=lName %></p>
  <p>Grade: <%=grade %> </p>
  <p>Has IEP: <%=has_IEP %> </p>
  <p>Has 504: <%=has_504 %> </p>
</body>
</html>
